Package: pixpub-allinone
Version: 1.10
Section: main
Priority: optional
Architecture: all
Depends: apache2-mpm-worker, ffmpeg, gearman-server, libapache2-mod-fastcgi, libcatalyst-perl, libgearman-client-async-perl, libgearman-client-perl, libjson-perl, libwww-mechanize-perl, memcached, mrtg, pixpub-basicSoftware, pixpub-languageMeta, pixpub-vcs, python-django, rrdtool, s3cmd, spread
Maintainer: Gea-Suan Lin <gslin@pixnet.tw>
Description: All-in-one meta package
