Package: pixpub-allinone
Version: 1.4
Section: main
Priority: optional
Architecture: all
Depends: apache2-mpm-worker, libapache2-mod-fastcgi, php5-cgi, pixpub-basicSoftware, pixpub-languageMeta, pixpub-vcs
Maintainer: Gea-Suan Lin <gslin@pixnet.tw>
Description: All-in-one meta package
