Package: pixpub-allinone
Version: 1.7
Section: main
Priority: optional
Architecture: all
Depends: apache2-mpm-worker, cakephp, ffmpeg, gearman-server, libapache2-mod-fastcgi, libcatalyst-perl, libgearman-client-async-perl, libgearman-client-perl, libwww-mechanize-perl, memcached, mrtg, php5-cgi, php5-curl, php5-gd, php5-geoip, php5-gmp, php5-imagick, php5-imap, php5-ldap, php5-mcrypt, php5-memcache, php5-mhash, php5-mysql, php5-suhosin, php5-xmlrpc, php-apc, php-pear, pixpub-basicSoftware, pixpub-languageMeta, pixpub-vcs, python-django, rrdtool, s3cmd, spread
Maintainer: Gea-Suan Lin <gslin@pixnet.tw>
Description: All-in-one meta package
