Package: pixpub-basicSoftware
Version: 1.8
Section: main
Priority: optional
Architecture: all
Depends: apache2-utils, curl, dnsutils, hobbit-client, httperf, iperf, less, lftp, lsof, most, mtr-tiny, mutt, nmap, pixpub-shells, rcconf, rsync, screen, sendmail, sudo, tcpdump, telnet, traceroute, vim-nox, w3m, wget
Maintainer: Gea-Suan Lin <gslin@pixnet.tw>
Description: basicSoftware meta package
